.about-section {
  min-height: 100vh;
  padding-top: 100px;
  background-color: #000; /* black background */
  color: white;
  cursor: pointer;
}

.about-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffd700; /* Golden yellow */
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.6), 0 0 20px rgba(255, 215, 0, 0.4); /* Soft glowing effect */
  margin-bottom: 2.5rem;
  transition: all 1s ease;
}

.about-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  transition: transform 1s ease, box-shadow 1s ease;
}

.about-image:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}
