.footer-section {
  background: linear-gradient(90deg, #bb02b3, #023982);
  background-color: #bb02b3;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.4s ease;
  z-index: 1000;
  position: relative;
}

.footer-section p {
  margin: 0;
  cursor: default;
}

.footer-section p:hover {
  color: #00d9ff;
  transition: color 0.4s ease;
  cursor: pointer;
}
