.portfolio-section {
  padding-top: 100px;
  /* background-color: #ffffff; */
  background-color: black;
  color: white;
}

.section-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  /* color: #1b1b1b; */
  background-color: black;
  color: white;
  margin-bottom: 2rem;
}

.portfolio-card {
  border: 1px solid white;
  transition: transform 1s ease, box-shadow 1s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
}

.portfolio-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
}

.portfolio-img {
  height: 40vh;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
